In [2]:
import pandas as pd

In [14]:
data = pd.read_csv('train.csv', sep=';').drop(['FORCE_2020_LITHOFACIES_CONFIDENCE', 'WELL', 'FORCE_2020_LITHOFACIES_LITHOLOGY'], axis = 1)

In [9]:
data

,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,RDEP,...,SP,BS,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO
0,494.5280,437641.96875,6470972.5,-469.501831,NORDLAND GP.,NaN,19.480835,NaN,1.611410,1.798681,...,24.612379,NaN,34.636410,NaN,NaN,-0.574928,NaN,NaN,NaN,NaN
1,494.6800,437641.96875,6470972.5,-469.653809,NORDLAND GP.,NaN,19.468800,NaN,1.618070,1.795641,...,23.895531,NaN,34.636410,NaN,NaN,-0.570188,NaN,NaN,NaN,NaN
2,494.8320,437641.96875,6470972.5,-469.805786,NORDLAND GP.,NaN,19.468800,NaN,1.626459,1.800733,...,23.916357,NaN,34.779556,NaN,NaN,-0.574245,NaN,NaN,NaN,NaN
3,494.9840,437641.96875,6470972.5,-469.957794,NORDLAND GP.,NaN,19.459282,NaN,1.621594,1.801517,...,23.793688,NaN,39.965164,NaN,NaN,-0.586315,NaN,NaN,NaN,NaN
4,495.1360,437641.96875,6470972.5,-470.109772,NORDLAND GP.,NaN,19.453100,NaN,1.602679,1.795299,...,24.104078,NaN,57.483765,NaN,NaN,-0.597914,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170506,3169.3124,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.423170,NaN,NaN,NaN,...,NaN,8.5,27.674368,NaN,NaN,-0.001763,NaN,NaN,26.673708,NaN
1170507,3169.4644,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.379244,NaN,NaN,NaN,...,NaN,8.5,28.024338,NaN,NaN,-0.007600,NaN,NaN,26.840818,NaN
1170508,3169.6164,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.350248,NaN,NaN,NaN,...,NaN,8.5,28.091282,NaN,NaN,-0.018297,NaN,NaN,27.007942,NaN
1170509,3169.7684,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.313779,NaN,NaN,NaN,...,NaN,8.5,28.019775,NaN,NaN,-0.011438,NaN,NaN,27.175179,NaN
1170510,3169.9204,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.294910,NaN,NaN,NaN,...,NaN,8.5,25.985943,NaN,NaN,-0.011398,NaN,NaN,27.342442,NaN

In [3]:
datat = pd.read_csv('test.csv', sep=';').drop(['WELL'], axis = 1)

In [13]:
datat.drop(['WELL'], axis = 1)

,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,RDEP,...,SP,BS,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO
0,480.628001,423244.50000,6461862.5,-455.624420,NORDLAND GP.,NaN,19.2031,NaN,1.613886,1.513937,...,35.525719,NaN,96.461990,NaN,NaN,-0.538873,0.130611,NaN,NaN,NaN
1,480.780001,423244.50000,6461862.5,-455.776428,NORDLAND GP.,NaN,19.2031,NaN,1.574376,1.480188,...,36.158520,NaN,96.454399,NaN,NaN,-0.539232,0.130611,NaN,NaN,NaN
2,480.932001,423244.50000,6461862.5,-455.928436,NORDLAND GP.,NaN,19.2031,NaN,1.436627,1.469700,...,36.873703,NaN,96.446686,NaN,NaN,-0.540830,0.130611,NaN,NaN,NaN
3,481.084001,423244.50000,6461862.5,-456.080444,NORDLAND GP.,NaN,19.2031,NaN,1.276094,1.469341,...,37.304054,NaN,161.170166,NaN,NaN,-0.543943,0.130611,NaN,NaN,NaN
4,481.236001,423244.53125,6461862.5,-456.232422,NORDLAND GP.,NaN,19.2031,NaN,1.204704,1.466462,...,37.864922,NaN,172.489120,NaN,NaN,-0.542104,0.130611,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136781,3224.389600,536225.93750,6794880.5,-3199.876465,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.231942,7.027874,...,NaN,8.5,26.615782,118.669212,NaN,0.063478,NaN,2.618309,33.523922,NaN
136782,3224.541600,536225.93750,6794880.5,-3200.028320,BAAT GP.,Rannoch Fm.,8.4978,NaN,6.038777,6.875511,...,NaN,8.5,25.647141,118.468925,NaN,0.056791,NaN,2.620221,32.643795,NaN
136783,3224.693600,536225.93750,6794880.5,-3200.180176,BAAT GP.,Rannoch Fm.,8.4978,NaN,5.503983,6.338658,...,NaN,8.5,23.929407,118.163177,NaN,0.002499,NaN,2.629171,31.763380,NaN
136784,3224.845600,536225.93750,6794880.5,-3200.332031,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.895551,5.666211,...,NaN,8.5,22.737293,117.655937,NaN,0.003363,NaN,2.521121,30.884350,NaN
136785,3224.997600,536225.93750,6794880.5,-3200.483887,BAAT GP.,Rannoch Fm.,8.4978,NaN,4.564547,5.261881,...,NaN,8.5,21.116669,117.002289,NaN,0.001724,NaN,2.356035,29.962900,NaN

In [4]:
datat.mean()

DEPTH_MD     2.501137e+03
X_LOC        4.678846e+05
Y_LOC        6.708199e+06
Z_LOC       -2.397836e+03
CALI         1.261357e+01
RSHA         3.137817e+00
RMED         3.844914e+00
RDEP         3.662074e+00
RHOB         2.324925e+00
GR           6.522326e+01
SGR                   NaN
NPHI         3.134422e-01
PEF          6.113697e+00
DTC          1.089792e+02
SP           4.352847e+01
BS           1.096336e+01
ROP          2.640694e+01
DTS          1.853895e+02
DCAL         1.609791e-01
DRHO         1.444061e-02
MUDWEIGHT    6.028683e+00
RMIC         4.906861e+00
ROPA         2.266906e+01
RXO          5.280645e+00
dtype: float64

In [5]:
datat.isna().sum()

DEPTH_MD          0
X_LOC            59
Y_LOC            59
Z_LOC            59
GROUP             0
FORMATION      7074
CALI           5645
RSHA          97689
RMED            587
RDEP             59
RHOB          16960
GR                0
SGR          136786
NPHI          32743
PEF           23283
DTC             823
SP            70159
BS            69822
ROP           68470
DTS           93566
DCAL         123271
DRHO          25230
MUDWEIGHT    116517
RMIC         125470
ROPA          80996
RXO          106938
dtype: int64

In [8]:
datat = datat.fillna(datat.mean())

In [9]:
datat.isna().sum()

DEPTH_MD          0
X_LOC             0
Y_LOC             0
Z_LOC             0
GROUP             0
FORMATION      7074
CALI              0
RSHA              0
RMED              0
RDEP              0
RHOB              0
GR                0
SGR          136786
NPHI              0
PEF               0
DTC               0
SP                0
BS                0
ROP               0
DTS               0
DCAL              0
DRHO              0
MUDWEIGHT         0
RMIC              0
ROPA              0
RXO               0
dtype: int64

In [12]:
datat.to_numpy().values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [15]:
data['GROUP']

0          NORDLAND GP.
1          NORDLAND GP.
2          NORDLAND GP.
3          NORDLAND GP.
4          NORDLAND GP.
               ...
1170506    VESTLAND GP.
1170507    VESTLAND GP.
1170508    VESTLAND GP.
1170509    VESTLAND GP.
1170510    VESTLAND GP.
Name: GROUP, Length: 1170511, dtype: object

In [22]:
datat['GROUP']

0         NORDLAND GP.
1         NORDLAND GP.
2         NORDLAND GP.
3         NORDLAND GP.
4         NORDLAND GP.
              ...
136781        BAAT GP.
136782        BAAT GP.
136783        BAAT GP.
136784        BAAT GP.
136785        BAAT GP.
Name: GROUP, Length: 136786, dtype: object

In [21]:
data['GROUP'].append(datat['GROUP'])

0         NORDLAND GP.
1         NORDLAND GP.
2         NORDLAND GP.
3         NORDLAND GP.
4         NORDLAND GP.
              ...
136781        BAAT GP.
136782        BAAT GP.
136783        BAAT GP.
136784        BAAT GP.
136785        BAAT GP.
Name: GROUP, Length: 1307297, dtype: object

In [23]:
pd.concat([data['GROUP'], datat['GROUP']], ignore_index=True)

0          NORDLAND GP.
1          NORDLAND GP.
2          NORDLAND GP.
3          NORDLAND GP.
4          NORDLAND GP.
               ...
1307292        BAAT GP.
1307293        BAAT GP.
1307294        BAAT GP.
1307295        BAAT GP.
1307296        BAAT GP.
Name: GROUP, Length: 1307297, dtype: object

In [24]:
1170511+136786

1307297